/**
 * SelectField Component Style for tingle
 * @author gbk
 *
 * Copyright 2014-2015, Tingle Team, Alinw.
 * All rights reserved.
 */
@require '../node_modules/tingle-style/src/var'

topOffset=2px

.tSelectFieldValue
  padding-right rem(28)
  > *
    vertical-align middle
.tSelectFieldIcon
  width 14px
  height 14px
  fill #999