/**
 * SelectField Component Style for tingle
 * @auther gbk
 *
 * Copyright 2014-2015, Tingle Team, Alinw.
 * All rights reserved.
 */
@require '../node_modules/tingle-style/src/var'

topOffset=2px

.tSelectField
    padding-top topOffset
    min-height 44px
.tSelectFieldLabel
    padding 12px 0
    width 60px
.tSelectFieldValue
    max-width 100%
    height 20px
    line-height 20px
    text-align right
    > *
        vertical-align middle
.tSelectFieldIcon
    width 14px
    height 14px
    fill #999
