/**
 * SelectField Component Style for tingle
 * @author gbk
 *
 * Copyright 2014-2015, Tingle Team, Alinw.
 * All rights reserved.
 */
@require '../node_modules/tingle-style/src/var'

topOffset = 2px

.tSelectFieldValue
  > *
    vertical-align middle

.tSelectFieldIcon
  width 24px
  height 24px
  fill #999
  margin-right -8px // svg 空隙

